.layout {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-wide);
  margin: 0 auto;
  padding: 0 var(--space-6);

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: var(--space-12);
    padding-top: var(--space-8);
  }
}
